
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./style/styles.css" />
</head>
<body>

<main>
  <div class="issuegrid">
    <div class="statusheadings">
      {{#statusHeadings}}
        <div>{{.}}</div>
      {{/statusHeadings}}
    </div>
    {{#swimLanes}}
    <section class="swimlane">
      {{#title}}<h2>{{.}}</h2>{{/title}}
      {{#statuses}}
      <div class="tasklist"><!-- {{title}} tasks -->
        {{#issues}}
        <div>{{title}}{{#assignee}}
          <div class="assignee">{{.}}</div>{{/assignee}}</div>
        {{/issues}}
      </div>
      {{/statuses}}
    </section>
    {{/swimLanes}}
</main>
</body>
</html>
