.statusheadings div,
section.swimlane div.tasklist {
  display: table-cell;
  vertical-align: top;
  width: 20em;
  border-right: 1px solid gray;
  height: 100%;
  padding: 5px;
}

.issuegrid {
  font-family: sans-serif;
}

.statusheadings {
  border-bottom: 1px solid;
}

.statusheadings div,
section.swimlane h2 {
  font-weight: bold;
  margin-bottom: 0;
}

/*.statusheadings,
section.swimlane h2 {
  border-bottom: 1px solid gray;
}*/

.statusheadings, .swimlane {
  display: table;
}

.swimlane h2 {
  display: table-caption;
  font-size: small;
}

.tasklist {
  border-top: 1px solid black;
}

.tasklist > div {
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}

.assignee {
  float: right;
}
